Wendy's Project  
I am creating a predictive ranking of NFL players based on their stats across an entire season  
My impetus for this project is that my fantasy football team sucks  
I am going to focus on offensive players only  
I am going to focus on player positions in my roster only  
This means QB, WR, RB, TE, K

In [ ]:
# Bonus, I could try to see if I could predict improvement btwn 2010 and 2016
# not sure how but something worth thinking about

In [1]:
# read the data into a DataFrame named nfl16
import pandas as pd
path = '../project/'
url = path + 'season2016.csv'
nfl16 = pd.read_csv(url, index_col = 0)
nfl16.head()

,id,home,team,pos,defense_ast,defense_ffum,defense_int,defense_sk,defense_tkl,fumbles_lost,...,receiving_twopta,receiving_twoptm,receiving_yds,rushing_att,rushing_lng,rushing_lngtd,rushing_tds,rushing_twopta,rushing_twoptm,rushing_yds
name,,,,,,,,,,,,,,,,,,,,,
T.Siemian,00-0032156,no,DEN,QB,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,28.0,42.0,0.0,0.0,1.0,0.0,57.0
A.Janovich,00-0032956,no,DEN,FB,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,44.0,4.0,33.0,28.0,1.0,0.0,0.0,33.0
D.Booker,00-0032972,no,DEN,RB,NaN,NaN,NaN,NaN,NaN,3.0,...,0.0,0.0,265.0,174.0,152.0,21.0,4.0,0.0,0.0,612.0
C.Anderson,00-0029854,no,DEN,RB,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,128.0,110.0,106.0,13.0,4.0,0.0,0.0,437.0
V.Green,00-0028142,no,DEN,TE,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,237.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
# what are we looking at?
nfl16.shape
# 1573 players in this list with 59 attributes

(1573, 59)

In [3]:
# let's just look at offensive players
# this includes QB, RB, WR, TE, K
nfl16.pos.value_counts()

WR     188
DE     143
RB     129
CB     128
TE     103
OLB     92
DT      89
DB      78
QB      66
LB      65
SS      50
FS      43
ILB     43
K       33
P       33
NT      25
OT      17
MLB     16
C       15
FB      15
OG      12
G        7
T        6
LS       5
SAF      3
Name: pos, dtype: int64

In [4]:
# create new DataFrames using only QB, WR, RB, TE, K
nfl16_QB = nfl16.loc[nfl16.pos == 'QB']
nfl16_WR = nfl16.loc[nfl16.pos == 'WR']
nfl16_RB = nfl16.loc[nfl16.pos == 'RB']
nfl16_TE = nfl16.loc[nfl16.pos == 'TE']
nfl16_K = nfl16.loc[nfl16.pos == 'K']

In [6]:
nfl16_K.head()

,id,home,team,pos,defense_ast,defense_ffum,defense_int,defense_sk,defense_tkl,fumbles_lost,...,receiving_twopta,receiving_twoptm,receiving_yds,rushing_att,rushing_lng,rushing_lngtd,rushing_tds,rushing_twopta,rushing_twoptm,rushing_yds
name,,,,,,,,,,,,,,,,,,,,,
B.McManus,00-0029822,no,DEN,K,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,6.0,0.0,0.0,0.0,0.0,6.0
G.Gano,00-0026858,no,CAR,K,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
M.Bryant,00-0020578,no,ATL,K,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
R.Aguayo,00-0033102,no,TB,K,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
J.Tucker,00-0029597,no,BAL,K,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
# before i get too far, is this actually the whole season?

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().